/* *{
    margin: 0;
    padding: 0;
} */
* {
    font-family: 'Kaushan Script', cursive;
}

html {
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1645280403333-3775178fc8c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
    height: 100%;
}
/* body {
    background-image: url("https://images.unsplash.com/photo-1638913660695-b490171d17c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    background-size: cover;
} */
h1{
    color: red;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    /* background-color: beige;
    width: 0%; */

} 
#container{
    height: 325px;
    width: 350px;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas: 
    ". bill-amount"
    ". tip-percentage"
    ". tip-amount"
    ". total-amount"
    "btn btn";
    margin: 0 auto;
    border: 5px solid red;
    box-shadow: #f44336;
    padding: 25px;
   
}
#bill-amount {
    grid-area: bill-amount;
    height: 25px;
    width: 250px;

}
#tip-percentage{
    grid-area: tip-percentage;
    height: 25px;
    width: 250px;

}
#tip-amount {
    grid-area: tip-amount;
    height: 25px;
    width: 250px;

}
#total-amount {
    grid-area: total-amount;
    height: 25px;
    width: 250px;
}
#total-bill {
    grid-area: total-bill;
    height: 25px;
    width: 250px;
}
#btn {
    grid-area: btn;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: auto;
    
}
.totalAmount {
    box-sizing:border-box;
    width:200px;
    padding:15px;
}
.billAmount {
    box-sizing:border-box;
    width:200px;
    padding:15px;
}

.tipAmount {
    box-sizing:border-box;
    width:200px;
    padding:15px;
}
.tipPercentage {
    box-sizing:border-box;
    width:200px;
    padding:15px;

    
}


